section{
    height: 500px;
}
body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
margin: 0px;
}
.half-wdith{
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    padding-left: 2%;
}
.half-wdith img{
    width: 80%;
}
h2{
    color: darkorange;
}
.link-button{
    text-decoration: none;
    background-color: aqua;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    width: 700;
    background-image: linear-gradient(100deg, cyan, blue, black);
}
.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}